<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1>Home page</h1>
    <form
      action="/home"
      method="post"
      class="w-[400px] border bg-gray-200 m-auto p-4"
    >
      <h2 class="text-xl font-semibold">Add Todo</h2>
      <div>
        <div class="flex flex-col py-1">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            placeholder="Enter title"
            class="outline-none"
          />
        </div>
        <div class="flex flex-col py-1">
          <label for="desc">Description</label>
          <input
            type="text"
            name="desc"
            placeholder="Enter description"
            class="outline-none"
          />
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="bg-stone-800 text-white py-1 px-2 rounded-sm"
        >
          add
        </button>
      </div>
    </form>
    <table border="1" class="table-fixed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <% todos.forEach(todo => { %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.desc %></td>
        <td>
          <form action="#" method="post">
            <button class="bg-red-600 text-white rounded-sm p-1">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
    <a href="./about">about page</a>
  </body>
</html>
