* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

form {
  width: 250px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-constrols {
  margin: 5px auto;
  width: 100%;
}

.form-constrols input {
  border: 0.3px solid gray;
  border-radius: 4px;
  width: 100%;
  padding: 4px 6px;
}

.btn {
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 3px 8px;
  width: 100%;
}

.login-btn {
  background-color: #1877f2;
  width: 100%;
}

.register-btn {
  background-color: #36a420;
  margin: 1rem 0;
}

.login-wrapper {
  width: 100%;
}

form a {
  text-decoration: none;
  color: blue;
}

hr {
  width: 100%;
  border-width: 0.5px;
}

.form-constrols input:focus {
  outline: none;
  border: 0.5px solid #1877f2;
  box-shadow: #1877f2 0px 0.5px 1px;
}
